<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/busstation?serverTimezone=UTC"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>org/easybooks/bookstore/vo/User.hbm.xml</value>
				<value>
					org/easybooks/bookstore/vo/Businformation.hbm.xml
				</value>
				<value>org/easybooks/bookstore/vo/Orders.hbm.xml</value>
				<value>
					org/easybooks/bookstore/vo/Adminuser.hbm.xml
				</value>
				<value>org/easybooks/bookstore/vo/Bus.hbm.xml</value>
				<value>
					org/easybooks/bookstore/vo/Orderitem.hbm.xml
				</value></list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="baseDAO" class="org.easybooks.bookstore.dao.BaseDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="userDAO" class="org.easybooks.bookstore.dao.impl.UserDAO" parent="baseDAO"/>
	<bean id="userService" class="org.easybooks.bookstore.service.impl.UserService">
		<property name="userDAO" ref="userDAO"/>
	</bean>
	<bean id="userAction" class="org.easybooks.bookstore.action.UserAction">
		<property name="userService" ref="userService"/>
	</bean>
 	<bean id="busDAO" class="org.easybooks.bookstore.dao.impl.BusDAO" parent="baseDAO"/>
 	<bean id="busesService" class="org.easybooks.bookstore.service.impl.BusesService">
 		<property name="busDAO" ref="busDAO"/>
 	</bean>
 	<bean id="busesAction" class="org.easybooks.bookstore.action.BusesAction"> 
 		<property name="busesService" ref="busesService"/>
 		<property name="adminService" ref="adminService"/>
 	</bean>
 	<bean id="busInformationDAO" class="org.easybooks.bookstore.dao.impl.BusInformationDAO" parent="baseDAO"/>
	<bean id="busService" class="org.easybooks.bookstore.service.impl.BusService">
		<property name="busInformationDAO" ref="busInformationDAO"/>
	</bean>
 	<bean id="getinfoDAO" class="org.easybooks.bookstore.dao.impl.GetinfoDAO" parent="baseDAO"/>
 	<bean id="getinfoService" class="org.easybooks.bookstore.service.impl.GetinfoService">
 		<property name="getinfoDAO" ref="getinfoDAO"/>
 	</bean>
 	<bean id="busAction" class="org.easybooks.bookstore.action.BusAction">
		<property name="busService" ref="busService"/>
		<property name="getinfoService" ref="getinfoService"/>
 	</bean>
 	<bean id="orderDAO" class="org.easybooks.bookstore.dao.impl.OrderDAO" parent="baseDAO"/>
 	<bean id="orderService" class="org.easybooks.bookstore.service.impl.OrderService">
 		<property name="orderDAO" ref="orderDAO"/>
 	</bean>
 	<bean id="orderAction" class="org.easybooks.bookstore.action.OrderAction"> 
 		<property name="orderService" ref="orderService"/>
 		<property name="userService" ref="userService"/>
 		<property name="busService" ref="busService"/>
 		<property name="getinfoService" ref="getinfoService"/>
 	</bean>
 	<bean id="adminDAO" class="org.easybooks.bookstore.dao.impl.AdminDAO" parent="baseDAO"/>
	<bean id="adminService" class="org.easybooks.bookstore.service.impl.AdminService">
		<property name="adminDAO" ref="adminDAO"/>
	</bean>
	<bean id="adminAction" class="org.easybooks.bookstore.action.AdminAction">
		<property name="adminService" ref="adminService"/>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>